/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
*/
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#path_1 {
    box-sizing: border-box;
    color: rgb(36, 180, 126);
    letter-spacing: 0.55px;
    text-align: center;
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(36, 180, 126);
    fill: rgb(27, 185, 120);
    d: path('M 21.6 26.8 L 19 25 l -1.3 1 l 1.4 3 c 0 0.2 -0.3 0.4 -0.5 0.6 l -3 -0.8 l -1 1.4 l 2.4 2.3 l -0.4 0.8 l -3.2 0.3 l -0.3 1.6 l 3 1.4 v 0.8 l -3 1.4 l 0.4 1.6 l 3.2 0.3 c 0 0.3 0.2 0.5 0.3 0.8 l -2.4 2.3 l 0.8 1.4 l 3 -0.8 l 0.7 0.6 l -1.3 3 l 1.3 1 l 2.6 -1.8 c 0.3 0 0.5 0.3 0.8 0.4 l -0.3 3.2 l 1.6 0.6 l 2 -2.7 c 0.2 0 0.5 0 0.7 0.2 l 1 3 h 1.5 l 1 -3 c 0 -0.2 0.4 -0.2 0.7 -0.3 l 2 2.7 l 1.4 -0.6 l -0.4 -3.2 c 0.3 0 0.5 -0.3 0.8 -0.4 L 37 49 l 1.3 -1 l -1.4 -3 c 0 -0.2 0.3 -0.4 0.5 -0.6 l 3 0.8 l 1 -1.4 l -2.4 -2.3 l 0.4 -0.8 l 3.2 -0.3 l 0.3 -1.6 l -3 -1.4 v -0.8 l 3 -1.4 l -0.4 -1.6 l -3.2 -0.3 c 0 -0.3 -0.2 -0.5 -0.3 -0.8 l 2.4 -2.3 l -0.8 -1.4 l -3 0.8 l -0.7 -0.6 l 1.3 -3 l -1.3 -1 l -2.6 1.8 c -0.3 0 -0.5 -0.3 -0.8 -0.4 l 0.3 -3.2 l -1.6 -0.6 l -2 2.7 c -0.2 0 -0.5 0 -0.7 -0.2 l -1 -3 h -1.5 l -1 3 c 0 0.2 -0.4 0.2 -0.7 0.3 l -2 -2.7 l -1.4 0.6 l 0.4 3.2 c -0.3 0 -0.5 0.3 -0.8 0.4 Z');
    border: 0px none rgb(36, 180, 126);
    font: normal normal 600 normal 22px / 33px Camphor, "Open Sans", "Segoe UI", sans-serif;
    outline: rgb(36, 180, 126) none 0px;
}/*#path_1*/

#devicon{
    color: aqua;
    text-align: center;
    margin-top: 20px;
}


.Btext{
    font-size: 100px;
    color: white;
    height: 0px;
    text-align: center;
    font-family: monospace;
    position: absolute;
    margin: -160px;
    left: 0;
    right: 0;
}
.Ntext{
   font-size: 42px;
    color: white;
    margin-top: 35px;
    text-align: center;
    font-family: Camphor;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;

}


#particlecont {
    /*background: -webkit-radial-gradient(68% 33%, ellipse, #20202D 0%, #101018 75%, #060612 100%);
    background: -moz-radial-gradient(68% 33%, ellipse, #20202D 0%, #101018 75%, #060612 100%);*/
}
  
/* ---- particles.js container ---- */
#particles-js{
    position: relative;
  width: 100%;
  height: 100%;
  /*background-color: #171223;*/
  background: -webkit-radial-gradient(68% 33%, ellipse, #20202D 0%, #101018 75%, #060612 100%);
    background: -moz-radial-gradient(68% 33%, ellipse, #20202D 0%, #101018 75%, #060612 100%);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 750px;
  border-bottom: 3px solid #EF5C4C;
  z-index: 1;

}

#portfolioimg {
    border-radius: 500rem;
    height: 240px;
    }

.hzline{
    border-right: 2px solid;
    position: absolute;
    height: 386px;
    width: 0px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 73px;
    opacity: 0;
}
.portfoliodiv{
/*transform: translate(50%, 30%);*/
position: absolute;
text-align: center;
opacity: 0;
left: 0;
right: 0;
margin-top: 73px;
/*height: 0px;*/
}


.user-name{
  font-size: 36px;
  padding: 5px;
  
}
body {
  /*background: #efefef;*/
  /*font-size: 62.5%;*/
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #B6B6B6;
}

/*contact me */
.hire {
  position: relative;
  font-size:62.5%;
  margin: 100px auto 73px;
  text-align: center;
  padding: 0px 0 60px;
  width: 80%;
  max-width: 1100px;
  border: 2px solid #333;
  border-top: none;
 
/*box-shadow: 0px 0px 35px 8px rgba(0,0,0,0.75);*/

}
.hire h1 { 
  margin-top: -24px;
  margin-bottom: 68px;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  display: inline-block;
}
form {
  width: 58.33333%;
  margin: 0 auto;
}
form .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
form .field label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #313A3D;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field label + span {
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"],
form .field textarea {
  border: none;
  background: #E8E9EA;
  width: 80.5%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
form .field input[type="text"]#msg,
form .field textarea#msg {
    font-family: monospace;
  height: 18px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused {
  outline: none;
}
form .field input[type="text"]:focus#msg, form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg {
  padding-bottom: 150px;
}
form .field input[type="text"]:focus + label, form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label {
  width: 18%;
  background: #FD9638;
  color: #313A3D;
}
form .field input[type="text"].focused + label,
form .field textarea.focused + label {
  color: #FD9638;
}
form .field:hover label {
  width: 18%;
  background: #313A3D;
  color: white;
}
form input[type="submit"] {
  background: #FD9638;
  color: white;
  -webkit-appearance: none;
  border: none;
  margin-top: 48px;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
  background: #313A3D;
  color: #FD9638;
}
form input[type="submit"]:focus {
  outline: none;
  background: #cd6302;
}
.top-border{
    position: absolute;
    height: 2px;
    width: 24%;
    background-color: #333;
}
.levo{
    left: 0;
}
.desno{
    right: 0;
}

/*footer drop*/

.footernav{
  
  margin: 0px auto;
  text-align: center;
 
  font-weight: bold;
  color: black;
  font-size: 2.125rem;
  
}

.wrapper {
  min-height: 100vh;
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
  padding-bottom: 100px;
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/binding_dark.png);
}

body.tight .wrapper {
  transform: translateY(-60px) scale(0.9);
  cursor: pointer;
}


/*invitite background scroll */



@-webkit-keyframes scrollGood {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -320px, 0);
            transform: translate3d(0, -320px, 0);
  }
}
@keyframes scrollGood {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -320px, 0);
            transform: translate3d(0, -320px, 0);
  }
}
.pen {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.panel {
  padding: 3rem;
  height: 100%;
}

.bottom {
  background-color: #31CC70;
  overflow: hidden;
  position: relative;
}
.scroll {
  background-image: url(http://scarbroughstudios.com/img/codepen.svg);
  background-position: center center;
  
  position: fixed;
  top: 0px;
  left: 0px;
  height: 400%;
  width: 100%;
  -webkit-animation: scrollGood 5s linear infinite;
  animation: scrollGood 5s linear infinite;
  z-index: -1;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}